* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

*:focus {
  outline: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #000;
}

#main {
}

header {
  background-color: #000;
  color: #aaa;
}

.message {
  display: none;
  text-align: center;
  font-size: 1.3em;
  padding: 15px;
  background: rgba(0,0,0,.92);
  width: 100%;
  position: fixed;
  left: 0; top: 0;
  z-index: 2;
}

#wrap {
  width: 450px;
  margin: 0 auto;
  padding: 10px 5px;
  overflow: hidden;
}

#wrap h1 {
  font-size: 2em;
  float: left;
  color: #eee;
}

#wrap .bttn {
  display: block;
  float: right;
  width: 100px;
  background-color: #8E44AD;
  color: #eee;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  margin-top: 3px;
  padding: 6px;
}

#wrap .bttn:hover {
  background-color: #9B59B6;
}

.board {
  margin: 10px auto;
  padding: 10px;
  width: 480px;
}

.tile {
  float: left;
  margin: 10px;
  position: relative;
  width: 130px;
  height: 130px;
  background: #444;
  cursor: pointer;
  overflow: hidden;
  border: 4px solid transparent;
}
.tile:hover {
  box-shadow: 0 0 20px #5ff; /* #f7f; */
}

.tile:active {
  box-shadow: 0 0 20px #5ff;
}

.active {
  box-shadow: 0 0 20px #5ff;
}

.tile img {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
.hidden {
  opacity: 0;
  cursor: auto;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media only screen and (min-width: 35em) {
    body {
      background: url(../img/starry_night.jpg);
    }
}
